<section class="timeline-ig">
	<header></header>
	<aside class="ig-feed">
		{{#foreach this.elements}}
			<div class="relative">
				<div class="timeline-curtime">{{timeHourMin this.created_time}}</div>
				{{> timeline/instagram/box this.item}}
			</div>
		{{/foreach}}
	</aside>  <!-- /ig-feed-->
</section> <!-- /timeline-ig-->