@import "../../../core/core.less";

.timeline-fb{
	font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
	font-size: 13px;
	line-height: 17px;
	> header{
		background: #2e4c8c;	
		&::before{
			.absolute();
			left: 12px;
			top: 8px;
			content: "f";
			color: #fff;
			font-size: 20px;
		}
	}
	.fb-box{
		padding-bottom: 10px;
		margin-bottom: 10px;
		border-bottom: 1px solid #ddd;

		&.last{
			margin: 0;
			border-bottom: none;
		}
	}
}


.fb-box{
	.relative();
	a{
		color: @fb-link-color;
		cursor: pointer;
		text-decoration: none;

		&:hover{
			text-decoration: underline;
		}
	}
}

.fb-img-thumb{
	.absolute();
	top: 0;
	left: 0;
	width: 50px;
	height: 50px;
}

.fb-body{
	margin-left: 60px	
}

.fb-profile-row{
	display: block;
	color: gray;
	font-size: 13px;
	margin-bottom: 2px
}

.fb-profile-name{
	font-weight: bold;
	font-size: 13px;
}

.fb-status-text{
	margin-bottom: 1px;
	font-weight: normal;
}

.fb-link-actions{
	margin-bottom: 8px;
	font-size: 11px;
	color: rgb(153, 153, 153);
	 > a,
	 > span{
		.vertical-align-inline(11px);
	}

	> span{
		margin-left: 2px
	}
}

.fb-comments-box{
	font-size: 11px;
	
	 > div{
		background: #edeff4;
		padding: 4px;
		margin-bottom: 1px;
	}
	.fb-comments-summary::before,
	.fb-comments-total::before{
		.absolute();
		content: "";
		display: block;
		background: url(@fb-sprite);
		width: 15px;
		height: 16px;
	}

	.fb-comments-summary,
	.fb-comments-total{
		text-indent: 23px;
	}

	.fb-comments-summary::before{
		background-position: -102px -39px;
	}

	.fb-comments-total::before{
		background-position: -34px -38px;
	}

	.fb-comment-img(){
		position: absolute;
		left: 4px;
		top: 4px;
		height: 32px;
		width: 32px;
	}

	.fb-comment,
	.fb-comment-write{
		position: relative;
		min-height: 40px;
		overflow: hidden;
		> img{
			.fb-comment-img()
		}

		> div,
		> textarea{
			margin-left: 40px;
			line-height: 14px;
		}

		> textarea{
			width: 89%;
			height: 22px;
			line-height: 14px;
			padding: 3px;
			outline: 0;
			resize: none;
			border: 1px solid #bdc7d8;
		}
	}

	.fb-comment{
		.fb-comment-detail{
			margin-bottom: 3px;
			 > a{
				font-weight: bold;
			}	
		}		

		.fb-comment-time{
			color: gray;
			abbr,
			 a{
				.vertical-align-inline(11px);
			}
		}
	}
}