@import "../../../core/core.less";


[class *=" icon-fb-"],
[class ^="icon-fb-"]{

	> i{			
		display: inline-block;
		height: 16px;
		width: 16px;
		background: url(@fb-sprite);
	}

}

.icon-fb-gen(@height, @width, @positions){
	> i{
		height: @height;
		width: @width;
		background-position: @positions;
	}
}

.icon-fb-like{
	.icon-fb-gen(13px, 15px, -102px -40px);
}

.icon-fb-comment{
	.icon-fb-gen(13px, 15px, -34px -40px);
}

.icon-fb-shares{
	.icon-fb-gen(14px, 15px, -68px -40px);
}

.timeline-fb{
	font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
	font-size: 13px;
	line-height: 17px;
	
	> header{
		background: @fb-header-bg-color;	
		&::before{
			.absolute();
			left: 12px;
			top: 8px;
			content: "f";
			color: #fff;
			font-size: 20px;
		}
	}
	
	.fb-box{
		.relative();
		padding-bottom: 10px;
		margin-bottom: 10px;
		border-bottom: 1px solid #ddd;

		&.last{
			margin: 0;
			border-bottom: none;
		}
	}
}

.fb-gray-link(){
	color: gray;
	cursor: pointer;

	&:hover{
		text-decoration: underline;
	}
}


.fb-box{
	
	a{
		color: @fb-link-color;
		cursor: pointer;
		text-decoration: none;

		&:hover{
			text-decoration: underline;
		}
	}

	> .fb-img-thumb{
		.absolute();
		top: 0;
		left: 0;
		width: 50px;
		height: 50px;

		img{
			width: 50px;
			height: 50px;
		}
	}

	> .fb-body{
		margin-left: 60px	
	}	
}


.fb-body{
	.fb-profile-row{
		display: block;
		color: gray;
		font-size: 13px;
		margin-bottom: 2px;

		.fb-profile-name{
			font-weight: bold;
			font-size: 13px;
		}
	}

	.fb-status-text{
		margin-bottom: 1px;
		font-weight: normal;

		.fb-see-more{
			display: block;
			font-size: 11px;
		}

		> .fb-status-text-cnt{

		}
	}

	.fb-status-image{
		img{
			width: 320px;
			height: 320px;
		}
	}

	.fb-status-post{
		background: #f7f7f7;
		border: 1px solid #f0f0f0;
		img{
			width: 398px;
			height: 207px;
		}

		span{
			display: block;
			font-size: 11px;
			padding-left: 10px
		}

		.fb-status-post-title{
			color: @fb-link-color;
			font-weight: bold;
			&:hover{
				text-decoration: underline;
			}
		}

		.fb-status-post-caption,
		.fb-status-post-description{
			color: gray;
		}

		.fb-status-post-description{
			padding-bottom: 10px;
		}

		> a:hover{
			text-decoration: none;
		}

	}

	.fb-link-actions{
		margin-bottom: 8px;
		font-size: 11px;
		color: #999;
		 > a,
		 > div{
			.vertical-align-inline(11px);
		}

		> div{
			margin-left: 2px;
			> span{
				.fb-gray-link();
			}
		}
	}

}

.fb-small-like{
	i{
		display: inline-block;
		background: url("https://fbstatic-a.akamaihd.net/rsrc.php/v2/y5/r/qs7LEkK2L_M.png") 0 -62px;
		width: 10px;
		height: 10px;		
	}
}

.fb-comments-box{
	font-size: 11px;
	
	 > div{
		background: #edeff4;
		padding: 4px;
		margin-bottom: 1px;
	}
	.fb-comments-summary::before,
	.fb-comments-total::before{
		.absolute();
		content: "";
		display: block;
		background: url(@fb-sprite);
		width: 15px;
		height: 16px;
	}

	.fb-comments-summary,
	.fb-comments-total{
		text-indent: 23px;
	}

	.fb-comments-summary::before{
		background-position: -102px -39px;
	}

	.fb-comments-total::before{
		background-position: -34px -38px;
	}

	.fb-comment-img(){
		position: absolute;
		left: 4px;
		top: 4px;
		height: 32px;
		width: 32px;
	}

	.fb-comment,
	.fb-comment-write{
		position: relative;
		min-height: 40px;
		overflow: hidden;
		> img{
			.fb-comment-img()
		}

		> div,
		> textarea{
			margin-left: 40px;
			line-height: 14px;
		}

		> textarea{
			width: 89%;
			height: 22px;
			line-height: 14px;
			padding: 3px;
			outline: 0;
			resize: none;
			border: 1px solid #bdc7d8;
		}
	}

	.fb-comment{
		.fb-comment-detail{
			margin-bottom: 3px;
			 > a{
				font-weight: bold;
			}	
		}		

		.fb-comment-time{
			color: gray;
			abbr,
			 a{
				.vertical-align-inline(11px);
			}
		}
	}
}