<div class="me-timeline">

	{{#each data.timeline.feeds_group}}
		{{#ifStringEqual this.type "fb"}}
		
			{{> timeline/fb/fb }}

		{{/ifStringEqual}}
		{{#ifStringEqual this.type "instagram"}}
			{{> timeline/instagram/instagram }}

		{{/ifStringEqual}}
		{{#ifStringEqual this.type "twitter"}}
			{{> timeline/twitter/twitter }}

		{{/ifStringEqual}}		
	{{/each}}
</div>