<div class="fb-box">
	<a class="fb-img-thumb">
		<img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn2/1119182_100000186111641_124765078_q.jpg" />
	</a>
	<div class="fb-body">
		
		<span class="fb-profile-row">
			<a href="#" class="fb-profile-name">
				Babak Mehrabi Parsiyan
			</a>
			changed his profile pricture.
		</span>
		<!--
		<figure>
			<img src="" />
		</figure>
		-->
		<div class="fb-status-text">
			I'm submitting mu audition for PACE. why am i so stressed?! ‪
			<a href="#">#‎whyamisostressed</a>‬ <a href="#">‪#‎dammit‬</a>
			<a> See More </a>
		</div>
		
		<div class="fb-link-actions open">
			<a href="#"> Unlike </a> . 
			<a href="#"> Comment </a> . 
			<a href="#"> Share </a> . 
			<span>15 minutes ago</span>
			<!--
			<span>
				<a href="#" class="fb-likes-icon-full"> 11,110</a>
				<a href="#" class="fb-comments-icon-full"> 897</a>
				<a href="#" class="fb-sahres-icon-full"> 245</a>
				<span class="fb-post-time-passed"> 12 minutes ago <span>
			<span>
			-->
		</div>

		<div class="fb-comments-box">
			<div class="fb-comments-summary">
				You, 
				<a href="#"> Bahid Schooter</a>
				and
				<a href="#"> 8 others</a>
				like this
			</div>
			<div class="fb-comments-total">
				<a href="#"> View 1 more comment </a>
			</div>
			<div class="fb-comment">
				<img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn2/t5/s32x32/1117846_100001025243416_1906924754_q.jpg" />
				<div class="fb-comment-detail">
					<a href="#"> Ramin mo</a>
					<span>
					Etefaghan manam daram chaei mikhoram invaresh chaeie onvaresh tofale jat khali 
					</span>
				</div>
				<div class="fb-comment-time">
					<abbr>January 16 at 7:15am </abbr> . 
					<a href="#">Like</a>
				</div>
			</div> <!--/fb-comments-->
			<div class="fb-comment-write">
				<img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn2/t5/s32x32/1117846_100001025243416_1906924754_q.jpg" >
				<textarea placeholder="Write a comment..." title="Write a comment..."></textarea>
			</div>
		</div>
	</div><!-- /fb-body-->	
</div><!-- /fb-box-->