<div class="fb-box">
	<a class="fb-img-thumb">
		<img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn2/1119182_100000186111641_124765078_q.jpg" />
	</a>
	<div class="fb-body">
		{{> timeline/fb/profile-header-row}}		
		<!--
		<figure>
			<img src="" />
		</figure>
		-->
		{{> timeline/fb/status-text}}
		{{> timeline/fb/link-actions}}
		{{> timeline/fb/comment-box}}
	</div><!-- /fb-body-->	
</div><!-- /fb-box-->