<div class="fb-comment">
	<img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn2/t5/s32x32/1117846_100001025243416_1906924754_q.jpg" />
	<div class="fb-comment-detail">
		<a href="#"> Ramin mo</a>
		<span>
		Etefaghan manam daram chaei mikhoram invaresh chaeie onvaresh tofale jat khali 
		</span>
	</div>
	<div class="fb-comment-time">
		<abbr>January 16 at 7:15am </abbr> . 
		<a href="#">Like</a> .
		<a class="fb-small-like">
			<i></i> 3
		</a>
	</div>
</div> <!--/fb-comments-->