<div class="fb-link-actions open">
	<a href="#"> Unlike </a> . 
	<a href="#"> Comment </a> . 
	<a href="#"> Share </a> .
	<div> 
		<span>15 minutes ago</span>
		via
		<span>Instagram</span>
	</div>
	<!--
	<span>
		<a href="#" class="fb-likes-icon-full"> 11,110</a>
		<a href="#" class="fb-comments-icon-full"> 897</a>
		<a href="#" class="fb-sahres-icon-full"> 245</a>
		<span class="fb-post-time-passed"> 12 minutes ago <span>
	<span>
	-->
</div>