<div class="fb-status-text">
	<p class="fb-status-text-cnt">
		I'm submitting mu audition for PACE. why am i so stressed?! ‪
		<a href="#">#‎whyamisostressed</a>‬ <a href="#">‪#‎dammit‬</a>
	</p>
	<a href="#" class="fb-see-more"> See More </a>
</div>