@import "../../../core/core.less";

@ig-link-color: #3f729b;
@ig-link-hover-color: #1c5380;

.ig-feed a,
.ig-feed a:visited{
	color: @ig-link-color;
	text-decoration: none;
	font-size: 13px;
}

.ig-feed a:hover{
	color: @ig-link-hover-color;
	text-decoration: underline;
}

.ig-link{
	display: inline-block;
	font-weight: bold;
	font-size: 12px;
}

.ig-user-img(@size){
	display: inline-block;
	line-height: @size;
	position: relative;

	> a.ig-user-img-link,
	> a.ig-user-img-link img{
		position: absolute;
		top: 0;
		left: 0;
		width: @size;
		height: @size;
	}

	> span{
		display: block;
		margin-left: (@size + 10);
	}

	> .ig-link{
		margin-left: (@size + 10);
	}

}

.ig-msg-box(){
	.relative();
	padding: 5px 12px 12px 12px;	
}


.ig-user-img-large{
	.ig-user-img(50px);
}

.ig-user-img-small{
	.ig-user-img(24px);
}


.me-timeline .timeline-ig{
	font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
	font-size: 13px;
	line-height: 17px;
	
	> header{
		background: @ig-header-bg-color;	
		&::before{
			.absolute();
			left: 12px;
			top: 8px;
			content: "Ig";
			color: #fff;
			font-size: 20px;
		}
	}

	> aside{
		margin-top: 0;
		margin-left: 32px;
		width: 94%;

		.timeline-curtime{
			right: -71px;
		}
	}
}


.ig-box{
	.relative();
	margin-bottom: 10px;
	border-bottom: 1px solid #ddd;

	&.last{
		margin: 0;
		border-bottom: none;
	}

	.ig-profile{
		> .ig-user-img-large{
			margin: 10px;
			
			a > img{
				border-radius: 5px;
			}
		}		
	}

	.ig-image > a  > img {
		width: 100%;
	}
	


	.ig-status{
		.ig-msg-box();
		border-bottom: 1px solid #e6e6e6;	
		.box-shadow("0 1px 2px rgba(0, 0, 0, 0.04)");
	}

	.ig-comment{
		.ig-msg-box();
	}
}